.ul{
    display: flex;
    justify-content: center;
    background-color: white;
}

.categoryList{
    list-style: none;
    padding: 16px 25px;
}

.category{
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    text-decoration: none;
    font-family: inter_semi_bold, fallback-inter_semi_bold, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: 550;
}

.icon{
    width: 10px;
    height: 10px;
}

.dropdown{
    z-index: 9;
}

.dropdown:hover .icon{
    transform: rotate(-180deg);
    transition: transform 0.3s;
}

.dropdown:hover .dropdownContainer{
    display: block;
}

.dropdownContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    display: none;
}

.dropdownUl{
    position: relative;
    top: 1rem;
    right: 15rem;
    display: block;
    border-radius: 1rem;
    border-radius: 7px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 5px 10px rgb(94, 93, 93);
    background-color: white;
}

.dropdownCat{
    color: rgb(53, 53, 53);
    text-decoration: none;
    display: block;
    justify-content: space-between;
    width: 15rem;
    height: 1rem;
    padding: 16px 12px;
    font-size: 0.8rem;
    border-radius: inherit;
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
    background-color: white;
    
}

.dropdownCat:hover {
    background-color: azure;
    border-radius: inherit;
}

.dropdownList{
    list-style: none;
    border-radius: inherit;
}

.iconCat{
    width: 8px;
    height: 8px;
    transform: rotate(-90deg);
    display: none;
    position: absolute;
    right: 18px
}

.dropdownCat:hover .iconCat{
    display: inline;
}
.dropdownSubUl{
    position: absolute;
    top: 0rem;
    left: 16rem;
    width: 16.6rem;
    display: none;
    background-color: white;
    color: rgb(53, 53, 53);
}

.dropdownContainer > ul > li > a:hover > ul{
    display: block;
}

.dropdownSubUl > li > a:hover{
    font-weight: 550;
}

.dropdownHeading{
    font-weight: 550;
    cursor: default;
}

.dropdownHeading:hover{
    background-color: white;
}
