.nav{
    padding: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.icon{
    width: 24px;
    height: 24px;
    padding: 8px;
    cursor: pointer;
}

.align{
    display: flex;
    align-items: center;
    justify-content: center;
}

.alignV{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.searchInput{
    width: 50rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 1rem;
    text-align: left;
}

.btnSearchBar{
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 0.6rem;
    font-size: 0.9rem;
    background-color: white;
    cursor: pointer;
}

.searchInput::placeholder{
    font-size: 1rem;
}

.searchBar{
    background-color: #f0f5ff;
    border-radius: 0.5rem;
}

.headingSearchBar{
    font-weight: 550;
    cursor: default;
    padding-left: 0.8rem;
}

.searchList{
    display: none;
}

.arrow{
   width: 10px;
   height: 10px;
}

.cursor{
    cursor: pointer;
}

.loginDrop{
    color: black;
    text-decoration: none;
    height: 1.8rem;
    padding-left: 0.4rem;
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
    z-index: 10;
    background-color: white;
}

.loginsec{
    width: 14rem;
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
}

.login{
    width: 8rem;
    border-radius: 10px;
}

.signup{
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 1rem;
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
    margin: 10px 0px;
    padding: 0rem 0.5rem;
}

.border{
   
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 1px 4px 0 rgba(204, 203, 203, 0.2), 0 1px 6px 0 rgba(101, 99, 99, 0.19);
    z-index: 10;
}

.signuplink{
    text-decoration: none;
    font-weight: 550;
    color: #4b6fe9;
    
}

.dropdowncontent{
    display: none;
    position: absolute;
    z-index: 10;
    height: 18rem;
    width: 14rem;
    background-color: white;
}

.dropdown:hover .dropdowncontent{
    display: block;
}

.dropdown:hover .login{
    background-color: #2a55e5;
    color: white;
}

.arrow{
    transform: rotate(0deg);
    transition: transform 0.2s;
}

.dropdown:hover .arrow{
    transform: rotate(180deg);
    transition: transform 0.2s;
}

.link{
    text-decoration: none;
    color: black;
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
    z-index: 10;
    background-color: white;
}

.cart{
    width: 2rem;
    padding: 0rem 1rem;
    margin-left: -4rem;
}

.store{
    width: 11rem;
    margin-left:1rem ;
}

.helpLink{
    align-items: center;
    
}

.helpDot{
    padding: 10px;
    border-radius: 10px;
}

.helpDot:hover{
    background-color: #e9e9e9;
}

.helpDrop{
    width: 12rem;
}

.helpdropdown{
    top: 4rem;
    right: 3rem;
    height: 10.2rem;
}