.product{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
    width: 11rem;
    padding: 1rem 0.5rem;
}

.product > a{
    text-decoration: none;
    color: rgb(59, 59, 59);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product > a > p{
    width : 11rem;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product > a > h4{
    margin: 0;
}

.product > a > img{
    width: 4.4rem;
}

.product > a > img:hover{
    transform: scale(1.1);
}